@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'custom.css';

@import 'editor-style';

@layer base {
	@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
}

html {
	@apply antialiased scroll-smooth;
}

a {
	@apply !no-underline;
}

.wrapper {
	display: grid;
	grid-row: auto 1fr auto;
}
.main-menu ul li {
	@apply flex;
}
.main-menu ul li a {
	@apply w-full sm:w-auto flex-none text-lavender text-sm leading-6 font-light hover:font-bold uppercase py-2 px-6 border border-transparent rounded-sm focus:outline-none transition-all duration-200;
}
.btn {
	@apply w-full sm:w-auto flex-none bg-sage hover:bg-lavender text-white text-sm leading-6 font-medium uppercase py-2 px-6 border border-transparent rounded-tl-full rounded-bl-full focus:outline-none transition-colors duration-200;
}

.page-content p {
	@apply pb-3;
}

.page-content h2 {
	@apply text-2xl uppercase font-normal mb-2;
}

.is-style-wide {
	@apply border-lavender/50 border-0 border-b mt-4 mb-6;
}

.sticky-position {
	position: sticky;
	top: 0;
}
